.right-content{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}
  
.p-info{
    margin-top: -10rem;
    font-size:xx-large;
    margin-right: 14rem;
}


.p-desc{
    margin-top: 1rem;
    font-size: medium;
    margin-top: -1rem;
}


.labeled{
    margin-right: 16rem;
}

.labeled-name{
    margin-right: 22rem;
}




  

  .steps{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-right: 5pc;
    margin-bottom: 5.6pc;
    padding: 0%;
  }

  .step-desc h6{
    /* margin-top: 0.5rem; */
    /* padding: 5%; */
  }

 a{
    text-decoration: none;
    color: #0d2b3f;
    font-size: medium;
    font-style: italic;
  }
     
 .addOn-three{
    border: 3px solid #467da2;
    display: flex;
    justify-content: space-between;
    font-size: small;
    border-radius: 4px;
    margin: 7px;
    padding: 10px;
    font-size: small;
    background-color: rgb(209, 209, 236);
    width: 100%;

 }
  


