

.p-info {
  margin-top: -10rem;
  font-size: xx-large;
  /* margin-right: 14rem; */
}

.p-desc {
  margin-top: 1rem;
  font-size: medium;
  margin-top: -1rem;
  margin-right: -1rem;
}

.labeled {
  margin-right: 16rem;
}

.labeled-name {
  margin-right: 22rem;
}

.input-box {
  width: 100%;
  padding: 9px 9px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border:1px solid lightgray;
}

.next-btn button {
  background-color: darkblue;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 6%;
  margin: 3rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.steps {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-right: 5pc;
  margin-bottom: 5.6pc;
  padding: 0%;
}

.step-desc h6 {
  /* margin-top: 0.5rem; */
  /* padding: 5%; */
}

a {
  text-decoration: none;
  color: #0d2b3f;
  font-size: medium;
  font-style: italic;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #3498db;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle span {
  color: #fff;
  font-size: 15px;
}

.st {
  padding: 2px;
  display: flex;
  margin: 1rem;
  gap: 17px;
  color: white;
  border: 1px;
}

.step-text {
  color: lightgray;
}

.container {
  padding-bottom: 29rem;
  margin: 3rem;
}

@media only screen and (max-width: 768px) {
  .card {
    width: 80%;
    height: 60%;
    font-size: 1.2rem;
  }
}
