.right-content{
    display: flex;
    flex-direction: column;
}
  
  .addOn{
    display: flex;
    justify-content: space-between;
    font-size: small;
    border-radius: 4px;
    margin: 7px;
    padding: 7px;
    font-size: small;
 }
  
.addOn-1{
    background-color: rgb(244, 244, 246);
    border-radius: 1rem;
    margin: 8px;
    /* padding: 7rem 6rem; */
}

.service{
    display: flex;
    justify-content: space-between;
    padding: 5px 7px;
}